<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href={% static 'mystyle2.css' %}>
</head>

<body>
<div class="row">
  <div class="col-12 nav">
	<ul>
		<li><a href="{% url 'home' %}">Home</a></li>
		<li><a href="{% url 'weight_tracker' %}">Weight Tracker</a></li>
		<li><a href="{% url 'weight_history' request.user %}">Weight History</a></li>
		<li><a href="{% url 'login' %}">Login</a></li>
		<li><a href="{% url 'logout' %}">Logout</a></li>
		<li class="nav-right"><a href="#random">Hello, {{request.user}}!</a></li>
		<li class="nav-right"><a href="{% url 'registration' %}">Registration</a></li>
	</ul>
  </div>
</div>
{% block 'body' %}
<div class="row">
	<div class="col-12">The below BMI calculator can be used to determine your BMI. The Weight Tracker page can be used to track your weight loss/gain journey!</div>
</div>
<div class="row">
  <div class="col-4">
	<div class="container">
	  <form class="form" id="calculator" method="post" action="">
		{% csrf_token %}
		<h1 class="form-title">BMI Calculator</h1>
		<div class="form-label">
		  <label for="height-field">Height</label>
		</div>
		<div class="form-input-group">
			<input type="text" class="form-input" name ="height-field" autofocus placeholder="Meters">
		</div>
		<div class="form-label">
		  <label for="weight-field">Weight</label>
		</div>
		<div class="form-input-group">
		  <input type="text" class="form-input" name="weight-field" autofocus placeholder="Kilograms">
		</div>
		<div class="form-label">
		  <label for="age-field">Age</label>
		</div>
		<div class="form-input-group">
		  <input type="text" class="form-input form-input" name="age-field" autofocus placeholder="Years">
		</div>
		<div class="form-label">
		  <label for="sex-field">Sex</label>
		</div>
		<div class="form-input-group">
		  <select name="sex-field" class="form-input" autofocus placeholder="Sex">
			<option value="" disabled selected>Select Option</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="not-disclosed">Undisclosed</option>
		  </select>
		</div>
		<div class="form-label">
		  <label for="ethinic-group-field">Ethnic Group</label>
		</div>
		<div class="form-input-group">
		  <select name="ethinic-group-field" class="form-input" autofocus placeholder="Ethinic Group">
			<option value="" disabled selected>Select Option</option>
			<option value="white">White</option>
			<option value="black">Black</option>
			<option value="indian">Indian</option>
			<option value="pakistani">Paskistani</option>
			<option value="asian-other">Asian Other</option>
			<option value="other">Other</option>
		  </select>
		</div>
		<div class="form-label">
		  <label for="activity-level-field">Activity Level</label>
		</div>
		<div class="form-input-group">
		  <select name="activity-level-field" class="form-input" autofocus placeholder="Activity Level">
			<option value="" disabled selected>Select Option</option>
			<option value="inactive">Inactive</option>
			<option value="moderately-active">Moderately Active</option>
			<option value="active">Active</option>
		  </select>
		</div>
		<div class="form-input-group">
		  <button class="form-button" type="submit">Calculate</button>
		</div>
	  </form>
	</div>
	</div>
  <div class="col-8">
	<br></br>
	<br></br>
	<br></br>
	{% if calculate_bmi %}
	<p>Your BMI = {{calculate_bmi}} | Your BMI Status = {{bmi_status}}<p>
	{% endif %}
	<div class="col-3 red">Underweight: <18.5</div>
	<div class="col-3 green">Normal: 18.5 - 24.9</div>
	<div class="col-3 amber">Overweight: 25.0 - 39.9</div>
	<div class="col-3 red">Obese: >40.0 </div>
  </div>
</div>
</body>
{% endblock %}
</html>
