body{
  --colour-primary: #0066ff;
  --colour-primary-dark: #0000cc;
  --colour-secondary: #00004d;
  --colour-error: #ff0000;
  --colour-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  font-size: 18px;
  background:url(/health-background.jpg);
  background-size:cover;
}

.switch{
  position: relative;
  display: inline;
  width: 60px;
  height: 34px;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header{
  margin-left: 15px;
}

p{
  margin-left: 15px;
}

.container{
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  border-radius: 4px;
  border: 1px solid #000000;
  background: #e6f5ff;
  font-family: sans-serif;
  font-weight: 500;
}

/* getting rid of margin at top */
.form > *:first-child{
  margin-top: 0;
}

/* getting rid of margin at top */
.form > *:last-child{
  margin-bottom: 0;
}

.form-message{
  text-align: center;
  margin-bottom: 1rem;
}

.form-message-success{
  color: var(--colour-success);
}

.form-message-error{
  color: var(--colour-error);
}

.form-title{
  margin-bottom: 2rem;
  text-align: center;
}

.form-input-group{
  margin-bottom: 1rem;
}

.form-input{
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0.01px solid #000000;
  background: #F5F5F5;
  outline: none;
  transition: background 0.2s, border-color 0.2s;
}

.form-input:focus{
  border-color: #0066ff;
  background: #ffffff;
  border-width: 1px;
}

/* doesnt work??? */
.form-input-error{
  color: var(--colour-error);
  border-color: var(--colour-error);
}

.form-input-error-message{
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--colour-error);
}

.form-button{
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: White;
  border: none;
  border-radius: Black;
  outline: none;
  cursor: pointer;
  background: #3d5249;
}

.form-button:hover{
  background: var(--colour-primary-dark);
}

.form-button:active {
  transform: scale(0.98);
}

.form-text{
  text-align: center;
}

ul {
  list-style-type:none;
  background-color: #0066ff;
}

/* making list items in line */
li {
  display: inline;
}

/* links in lists */
li a {
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

/* hovering over list items*/
li a:hover{
  text-decoration: underline;

/* active li should be underlined */
.active{
  text-decoration: underline;
}

/* the parent element for the chart */
.css-chart {
  /* chart borders */
  border-bottom: 1px solid;
  border-left: 1px solid;
  height: 200px;
  margin: 1em;
  padding: 0;
  position: relative;
  width: 200px;
}

/* styling for unordered list */
.line-chart {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* each point in the chart */
.data-point {
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 12px;
}


/* grid view with 12 columns - cant get it to work
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}
*/
